/* Custom styles for the main container box */
.container.box {
    margin-top: 80px;
  }
  
  /* Custom styles for the outer box containing the login form */
  .outer-box {
    background-color: #41B883; /* Green background color */
    padding: 20px;
    border-radius: 10px;
  }
  
  /* Custom styles for the form heading */
  .outer-box h2 {
    font-size: 24px;
  }
  
  /* Custom styles for the form inputs */
  .form-control {
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
  }
  
  /* Custom styles for the email input */
  .form-control[type="email"] {
    background-color: #f2f2f2; /* Light gray background */
    color: #333; /* Dark text color */
  }
  
  /* Custom styles for the password input */
  .form-control[type="text"] {
    background-color: #fff; /* White background */
    color: #333; /* Dark text color */
  }
  
  /* Custom styles for the error messages */
  .text-danger {
    display: block;
    font-size: 12px;
    color: #ff3333; /* Red text color */
    margin-top: 5px;
  }
  
  /* Custom styles for the warning message */
  .bg-warning-subtle {
    background-color: #ffcc80; /* Subtle orange background color */
    color: #333; /* Dark text color */
  }
  
  /* Custom styles for the submit button */
  .btn {
    background-color: #ff9800; /* Orange background color */
    color: #fff; /* White text color */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .btn:hover {
    background-color: #f57c00; /* Slightly darker background on hover */
  }
  