<form #login="ngForm" (ngSubmit)="display()">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1"  name="email"[(ngModel)]="User.email" #email="ngModel"[class.is-invalid]="email.invalid && email.touched" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
      <div id="emailHelp" class="form-text"></div>
    <small class="text-danger"[class.d-none]="email.valid||email.touched"> Enter valid email</small>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" name="password"[(ngModel)]="User.password"#password="ngModel"[class.is-invalid]="password.invalid && password.touched" required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{6,}$">
      <div id="emailHelp" class="form-text"></div>>
      <small class="text-danger"[class.d-none]="password.valid||password.touched"> Enter valid password</small>
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <a routerLink="Check">Check me out</a>
    </div>
    <button type="submit"   class="btn btn-primary">Submit</button>
  