/* Custom styles for the header */
/* app-header {
    background-color: #41B883; /* Green background color */
    /* color: #fff; White text color */
    /* padding: 10px; */
    /* text-align: center; */
  /* }   */
  
  /* Custom styles for the main container box */
  .container.box {
    margin-top: 30px;
  }
  
  /* Custom styles for the outer box containing the form */
  .outer-box {
    background-color: #367B63; 
    padding: 20px;
    border-radius: 10px;
  }
  
  /* Custom styles for the form heading */
  .outer-box h2 {
    font-size: 24px;
  }
  
  /* Custom styles for the form inputs */
  .form-control {
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
  }
  
  
  
  .style1 {
    background-color: #f2f2f2; 
    color: #333;
  }
  /* Custom styles for alternate form inputs */
  .style2 {
    background-color: #fff; 
    color: #333; 
  }

  /* Custom styles for the form error messages */
  .text-danger {
    display: block;
    font-size: 12px;
    color: #ff3333; 
    margin-top: 5px;
  }
  
  /* Custom styles for the submit button */
  .button {
    background-color: #41B883; /* Green background color */
    color: #fff; /* White text color */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .button:hover {
    background-color: #367B63; /* Slightly darker background on hover */
  }
  